---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Recompiler Boy",
		desc: "Gameboy emulator that features an experimental dynamic recompiler",
		href: "https://github.com/Kappamalone/recompiler_boy",
	},
	{
		title: "Toy voxel engine",
		desc: "Fun little voxel engine to learn C++",
		href: "https://github.com/Kappamalone/voxel-engine",
	},
];

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Welcome!</h1>
		<p class="mb-4">
      Hi, I'm a second year computer science student here at UNSW. I'm passionate about
      low level programming, and building cool things. You can read more about my projects down
      below.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>:
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
